<html>
  <head>
    <h1> Welcome to Caesar Encrypter! </h1>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
  <form >
    <input type='text' name='phrase' placeholder='Enter your message' /> <br>
    <input type='number' name='key' placeholder='0'/> <br>
    <button type='submit'>Encrypt!</button>
    <button type='submit' name='clear'>Clear</button>
  </form>
  <p><%= message %></p>
  </body>
</html>
