body {
  background: #bdcebe;
  float: center;
  text-align: center;
  font-family: Uroob, sans-serif;
  font-size: 30px;
  margin-top: 120px;
}
input{
  margin-bottom: 15px;
  width: 30%;
  height: 30px;
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus {
  width: 40%;
  height: 50px;
  padding: 10px 17px;
  font-family: Ubuntu;
  font-size: inherit;
}
button{
  background-color: inherit;
  color: black;
  border: 2px solid #034f84;
  padding: 15px 32px;
  text-align: center;
  font-size: 26px;
  border-radius: 8px;
  font-family: URW Gothic;
}
button:hover {
  background-color: #034f84;
}
p{
  font-family: Ubuntu;
  font-size: 40px;
}
